tweets_final.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>6059d816-0171-1000-8f50-765c301de96b</groupId>
    <name>tweets final</name>
    <snippet>
        <controllerServices>
            <id>47a42f11-779d-3d38-0000-000000000000</id>
            <parentGroupId>cd48030b-054b-31cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-197</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>Default NiFi SSL Context Service</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>/var/lib/nifi/cm-auto-host_keystore.jks</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/var/lib/nifi/cm-auto-in_cluster_truststore.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>696c78ee-c2a6-313d-0000-000000000000</id>
            <parentGroupId>cd48030b-054b-31cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-197</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>d1ada941-73ad-34dd-0000-000000000000</id>
            <parentGroupId>cd48030b-054b-31cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-197</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>CDP Infer JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>f3729db7-a8f8-3eb6-0000-000000000000</id>
            <parentGroupId>cd48030b-054b-31cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-197</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>9312a365-e2a1-372e-0000-000000000000</id>
            <parentGroupId>cd48030b-054b-31cf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>9312a365-e2a1-372e-9095-014f209dbc83</versionedComponentId>
            <comments/>
            <contents>
                <connections>
                    <id>0250f2f8-0eda-3510-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>0250f2f8-0eda-3510-843b-18c6fb69fb8b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7048cfd1-be96-39c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7048cfd1-be96-39c6-8fb8-73fdafb63b10</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>d41fe275-2362-35e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d41fe275-2362-35e9-943c-0deb73888c73</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0ed4d3d5-c220-3939-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>0ed4d3d5-c220-3939-9a13-f56daba11dca</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1a8a6e7e-dd2b-353c-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>1a8a6e7e-dd2b-353c-9035-0eb2b2aa001c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>25222836-dbfe-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1e05160d-aa28-352f-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>1e05160d-aa28-352f-8e98-ba0612643cc6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>29015bd4-3b6e-3c9f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>29015bd4-3b6e-3c9f-8007-2037a69ae5f3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>69352514-049e-3876-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>69352514-049e-3876-ab9f-deb7f725486c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1e8af7cc-8ce0-3752-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>1e8af7cc-8ce0-3752-9444-8b32045a88c0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>e33d9439-5b0c-334a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e33d9439-5b0c-334a-90d0-5a9583987df4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>all</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>25c3c721-9d53-3ce2-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>25c3c721-9d53-3ce2-b4d7-62acae98b28f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>26beff7e-1ad9-38d0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>26beff7e-1ad9-38d0-aae2-ed7c44904628</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>e33d9439-5b0c-334a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e33d9439-5b0c-334a-90d0-5a9583987df4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c3b8aca-a908-3336-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>2c3b8aca-a908-3336-baaf-7e9138ede398</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>a0bc451f-7fec-305d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>a0bc451f-7fec-305d-9733-95cd39284402</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>e6a1335d-d6e7-3f66-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6a1335d-d6e7-3f66-9266-e1b3163f0512</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>334e931d-8290-32ba-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>334e931d-8290-32ba-b1c3-170539a1fcf9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>e6a1335d-d6e7-3f66-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6a1335d-d6e7-3f66-9266-e1b3163f0512</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7a1b144b-70cb-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3db36149-17ac-3e66-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>3db36149-17ac-3e66-8e26-b51885471dba</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>26beff7e-1ad9-38d0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>26beff7e-1ad9-38d0-aae2-ed7c44904628</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7a1b144b-70cb-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>60a43d9f-56bf-39a7-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>60a43d9f-56bf-39a7-a356-b5717802edfe</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-288.0</x>
                        <y>2000.0</y>
                    </bends>
                    <bends>
                        <x>-152.0</x>
                        <y>1976.0</y>
                    </bends>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>25222836-dbfe-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>25222836-dbfe-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>632e82b2-d186-3fe8-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>632e82b2-d186-3fe8-9793-b334affe6524</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>26beff7e-1ad9-38d0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>26beff7e-1ad9-38d0-aae2-ed7c44904628</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>67ebf3ac-3df8-38cd-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>67ebf3ac-3df8-38cd-a47a-41646056e348</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>69352514-049e-3876-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>69352514-049e-3876-ab9f-deb7f725486c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>673a6adf-b18b-3ab1-0000-000000000000</groupId>
                        <id>8d049726-0c4f-3c1e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8d049726-0c4f-3c1e-84d5-eed78deb6aae</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6ad9e38f-2849-3881-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>6ad9e38f-2849-3881-8b50-483772e764b7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>cb470ae6-9f03-35e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb470ae6-9f03-35e3-a5bb-4f8a8442fa56</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>673a6adf-b18b-3ab1-0000-000000000000</groupId>
                        <id>8d049726-0c4f-3c1e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8d049726-0c4f-3c1e-84d5-eed78deb6aae</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>718f28a2-009c-3dbd-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>718f28a2-009c-3dbd-8717-e3245fc7873b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>062ef960-762e-385f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>062ef960-762e-385f-a8ec-0c902507e404</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>cb470ae6-9f03-35e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb470ae6-9f03-35e3-a5bb-4f8a8442fa56</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7de12b0b-b834-397c-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>7de12b0b-b834-397c-99e7-dbfb1a941396</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7a1b144b-70cb-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>all</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>86b5a5b0-eb53-3348-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>86b5a5b0-eb53-3348-86eb-817ccd4b4441</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>43780388-4399-3ce7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>43780388-4399-3ce7-97f0-8bb85e0494a6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>de734d52-1cbf-3a04-0000-000000000000</groupId>
                        <id>0704346f-b34f-37f0-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>0704346f-b34f-37f0-8bbf-1ce13640b06b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>972fc0d1-803f-3182-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>972fc0d1-803f-3182-9085-ba5affc57e25</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>26beff7e-1ad9-38d0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>26beff7e-1ad9-38d0-aae2-ed7c44904628</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>25222836-dbfe-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>99a365a6-fb5b-3fcb-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>99a365a6-fb5b-3fcb-b262-879732a0b81f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>29015bd4-3b6e-3c9f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>29015bd4-3b6e-3c9f-8007-2037a69ae5f3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>cb470ae6-9f03-35e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb470ae6-9f03-35e3-a5bb-4f8a8442fa56</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a086069d-353c-3f72-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>a086069d-353c-3f72-8e0a-67eead793782</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>d41fe275-2362-35e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d41fe275-2362-35e9-943c-0deb73888c73</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7a1b144b-70cb-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>acf75d56-02e8-3090-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>acf75d56-02e8-3090-be11-f98e3a2cb310</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>a0bc451f-7fec-305d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>a0bc451f-7fec-305d-9733-95cd39284402</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7048cfd1-be96-39c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7048cfd1-be96-39c6-8fb8-73fdafb63b10</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ad44a2fb-ad9c-3cc6-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>ad44a2fb-ad9c-3cc6-9adb-c8852eb87bbe</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>a518ad2f-3cea-3fd0-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>a518ad2f-3cea-3fd0-950c-e790dd7c7494</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>e6a1335d-d6e7-3f66-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6a1335d-d6e7-3f66-9266-e1b3163f0512</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>adf45b98-46a8-3832-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>adf45b98-46a8-3832-957b-53f5cc25fb25</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>25222836-dbfe-3707-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>7a1b144b-70cb-3227-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b6ce5673-89ef-3927-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>b6ce5673-89ef-3927-8a2c-b5b556df7d87</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>43780388-4399-3ce7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>43780388-4399-3ce7-97f0-8bb85e0494a6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c152614f-872b-396f-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>c152614f-872b-396f-9f35-6212fb401b3b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>29015bd4-3b6e-3c9f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>29015bd4-3b6e-3c9f-8007-2037a69ae5f3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>062ef960-762e-385f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>062ef960-762e-385f-a8ec-0c902507e404</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ce070965-29d6-36a2-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>ce070965-29d6-36a2-bded-6f58ea23bbb8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-547.0</x>
                        <y>1639.0</y>
                    </bends>
                    <bends>
                        <x>-547.0</x>
                        <y>1689.0</y>
                    </bends>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>062ef960-762e-385f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>062ef960-762e-385f-a8ec-0c902507e404</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>062ef960-762e-385f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>062ef960-762e-385f-a8ec-0c902507e404</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f93a68f8-a181-3fcd-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <versionedComponentId>f93a68f8-a181-3fcd-b3ca-b2f3c4f14d76</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>8e78c62a-441c-3548-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e78c62a-441c-3548-885f-c81655a545bb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>slack</selectedRelationships>
                    <source>
                        <groupId>9312a365-e2a1-372e-0000-000000000000</groupId>
                        <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>1a8a6e7e-dd2b-353c-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>64.0</x>
                        <y>2040.0</y>
                    </position>
                    <versionedComponentId>1a8a6e7e-dd2b-353c-9035-0eb2b2aa001c</versionedComponentId>
                </funnels>
                <funnels>
                    <id>26beff7e-1ad9-38d0-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-232.0</x>
                        <y>1592.0</y>
                    </position>
                    <versionedComponentId>26beff7e-1ad9-38d0-aae2-ed7c44904628</versionedComponentId>
                </funnels>
                <funnels>
                    <id>29015bd4-3b6e-3c9f-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1312.0</x>
                        <y>1488.0</y>
                    </position>
                    <versionedComponentId>29015bd4-3b6e-3c9f-8007-2037a69ae5f3</versionedComponentId>
                </funnels>
                <funnels>
                    <id>a0bc451f-7fec-305d-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>808.0</x>
                        <y>2072.0</y>
                    </position>
                    <versionedComponentId>a0bc451f-7fec-305d-9733-95cd39284402</versionedComponentId>
                </funnels>
                <funnels>
                    <id>a518ad2f-3cea-3fd0-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>1112.0</x>
                        <y>1968.0</y>
                    </position>
                    <versionedComponentId>a518ad2f-3cea-3fd0-950c-e790dd7c7494</versionedComponentId>
                </funnels>
                <labels>
                    <id>2f627a65-f8ef-3d82-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>592.0</x>
                        <y>1184.0</y>
                    </position>
                    <versionedComponentId>2f627a65-f8ef-3d82-9de2-30936df64f09</versionedComponentId>
                    <height>128.0</height>
                    <label>Analyze, transform, route results via Streaming SQL</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ff5e00</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>608.0</width>
                </labels>
                <labels>
                    <id>4e237004-0783-3f4f-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>696.0</x>
                        <y>1624.0</y>
                    </position>
                    <versionedComponentId>4e237004-0783-3f4f-aae9-b2934cdb6026</versionedComponentId>
                    <height>128.0</height>
                    <label>Stream to Cloud Data Stores</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ff5e00</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>608.0</width>
                </labels>
                <labels>
                    <id>feda30c0-1919-35e7-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-536.0</x>
                        <y>1144.0</y>
                    </position>
                    <versionedComponentId>feda30c0-1919-35e7-a551-56d84575df8b</versionedComponentId>
                    <height>128.0</height>
                    <label>Publish Events to Messaging Hub</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ff5e00</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>608.0</width>
                </labels>
                <processGroups>
                    <id>673a6adf-b18b-3ab1-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1016.0</x>
                        <y>1104.0</y>
                    </position>
                    <versionedComponentId>673a6adf-b18b-3ab1-b4dd-83ced224863d</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>06c26332-4ede-3b26-0000-000000000000</id>
                            <parentGroupId>673a6adf-b18b-3ab1-0000-000000000000</parentGroupId>
                            <versionedComponentId>06c26332-4ede-3b26-a5d7-b18d7efe35a2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>673a6adf-b18b-3ab1-0000-000000000000</groupId>
<id>8d049726-0c4f-3c1e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8d049726-0c4f-3c1e-84d5-eed78deb6aae</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>Message</selectedRelationships>
                            <source>
<groupId>673a6adf-b18b-3ab1-0000-000000000000</groupId>
<id>b6c86ea7-b288-3e9b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b6c86ea7-b288-3e9b-87ff-8b845e2cd9d4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>8d049726-0c4f-3c1e-0000-000000000000</id>
                            <parentGroupId>673a6adf-b18b-3ab1-0000-000000000000</parentGroupId>
                            <position>
<x>472.0</x>
<y>328.0</y>
                            </position>
                            <versionedComponentId>8d049726-0c4f-3c1e-84d5-eed78deb6aae</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>b6c86ea7-b288-3e9b-0000-000000000000</id>
                            <parentGroupId>673a6adf-b18b-3ab1-0000-000000000000</parentGroupId>
                            <position>
<x>426.99997206368903</x>
<y>97.99998996227032</y>
                            </position>
                            <versionedComponentId>b6c86ea7-b288-3e9b-87ff-8b845e2cd9d4</versionedComponentId>
                            <bundle>
<artifact>nifi-mqtt-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.3.2.0.0.0-197</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Broker URI</key>
        <value>
            <name>Broker URI</name>
        </value>
    </entry>
    <entry>
        <key>Client ID</key>
        <value>
            <name>Client ID</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Topic</key>
        <value>
            <name>Last Will Topic</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Message</key>
        <value>
            <name>Last Will Message</name>
        </value>
    </entry>
    <entry>
        <key>Last Will Retain</key>
        <value>
            <name>Last Will Retain</name>
        </value>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
        <value>
            <name>Last Will QoS Level</name>
        </value>
    </entry>
    <entry>
        <key>Session state</key>
        <value>
            <name>Session state</name>
        </value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>
            <name>MQTT Specification Version</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>
            <name>Connection Timeout (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>
            <name>Keep Alive Interval (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>
            <name>Group ID</name>
        </value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>
            <name>Topic Filter</name>
        </value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>
            <name>Quality of Service(QoS)</name>
        </value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>
            <name>Max Queue Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Broker URI</key>
        <value>#{brokeruri}</value>
    </entry>
    <entry>
        <key>Client ID</key>
    </entry>
    <entry>
        <key>Username</key>
        <value>#{mqttusername}</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Last Will Topic</key>
    </entry>
    <entry>
        <key>Last Will Message</key>
    </entry>
    <entry>
        <key>Last Will Retain</key>
    </entry>
    <entry>
        <key>Last Will QoS Level</key>
    </entry>
    <entry>
        <key>Session state</key>
        <value>true</value>
    </entry>
    <entry>
        <key>MQTT Specification Version</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Connection Timeout (seconds)</key>
        <value>30</value>
    </entry>
    <entry>
        <key>Keep Alive Interval (seconds)</key>
        <value>60</value>
    </entry>
    <entry>
        <key>Group ID</key>
        <value>nifi-datahub-groupid</value>
    </entry>
    <entry>
        <key>Topic Filter</key>
        <value>#{mqtttopicfilter}</value>
    </entry>
    <entry>
        <key>Quality of Service(QoS)</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Max Queue Size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeMQTT</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Message</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                        </processors>
                    </contents>
                    <name>Sensors From MQTT</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>de734d52-1cbf-3a04-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>144.0</x>
                        <y>928.0</y>
                    </position>
                    <versionedComponentId>de734d52-1cbf-3a04-a717-f91903429e8b</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>5863f241-8d98-3a04-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <versionedComponentId>5863f241-8d98-3a04-9a7f-9a797a369f7c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                            <destination>
<groupId>de734d52-1cbf-3a04-0000-000000000000</groupId>
<id>c124a1b2-33e1-3c2d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c124a1b2-33e1-3c2d-92c8-31e01dc13dd7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>de734d52-1cbf-3a04-0000-000000000000</groupId>
<id>304b7d1d-6125-3d9c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>304b7d1d-6125-3d9c-b02a-7be94833dcb3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f7b50a5b-acc3-3f2d-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <versionedComponentId>f7b50a5b-acc3-3f2d-8897-6ce88ae5edc3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>200000</backPressureObjectThreshold>
                            <destination>
<groupId>de734d52-1cbf-3a04-0000-000000000000</groupId>
<id>0704346f-b34f-37f0-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>0704346f-b34f-37f0-8bbf-1ce13640b06b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>de734d52-1cbf-3a04-0000-000000000000</groupId>
<id>c124a1b2-33e1-3c2d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c124a1b2-33e1-3c2d-92c8-31e01dc13dd7</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>1dd0ae08-762f-3491-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <position>
<x>2760.0</x>
<y>112.0</y>
                            </position>
                            <versionedComponentId>1dd0ae08-762f-3491-85df-4057cfeaa85a</versionedComponentId>
                            <height>320.0</height>
                            <label>Find, filter and clean Twitter streams</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#ff5e00</value>
</entry>
<entry>
    <key>font-size</key>
    <value>24px</value>
</entry>
                            </style>
                            <width>784.0</width>
                        </labels>
                        <outputPorts>
                            <id>0704346f-b34f-37f0-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <position>
<x>2384.0</x>
<y>544.0</y>
                            </position>
                            <versionedComponentId>0704346f-b34f-37f0-8bbf-1ce13640b06b</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Tweets Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>304b7d1d-6125-3d9c-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <position>
<x>2336.0</x>
<y>96.0</y>
                            </position>
                            <versionedComponentId>304b7d1d-6125-3d9c-b02a-7be94833dcb3</versionedComponentId>
                            <bundle>
<artifact>nifi-social-media-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.3.2.0.0.0-197</version>
                            </bundle>
                            <config>
<bulletinLevel>NONE</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Twitter Endpoint</key>
        <value>
            <name>Twitter Endpoint</name>
        </value>
    </entry>
    <entry>
        <key>max-client-error-retries</key>
        <value>
            <name>max-client-error-retries</name>
        </value>
    </entry>
    <entry>
        <key>Consumer Key</key>
        <value>
            <name>Consumer Key</name>
        </value>
    </entry>
    <entry>
        <key>Consumer Secret</key>
        <value>
            <name>Consumer Secret</name>
        </value>
    </entry>
    <entry>
        <key>Access Token</key>
        <value>
            <name>Access Token</name>
        </value>
    </entry>
    <entry>
        <key>Access Token Secret</key>
        <value>
            <name>Access Token Secret</name>
        </value>
    </entry>
    <entry>
        <key>Languages</key>
        <value>
            <name>Languages</name>
        </value>
    </entry>
    <entry>
        <key>Terms to Filter On</key>
        <value>
            <name>Terms to Filter On</name>
        </value>
    </entry>
    <entry>
        <key>IDs to Follow</key>
        <value>
            <name>IDs to Follow</name>
        </value>
    </entry>
    <entry>
        <key>Locations to Filter On</key>
        <value>
            <name>Locations to Filter On</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Twitter Endpoint</key>
        <value>Filter Endpoint</value>
    </entry>
    <entry>
        <key>max-client-error-retries</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Consumer Key</key>
    </entry>
    <entry>
        <key>Consumer Secret</key>
    </entry>
    <entry>
        <key>Access Token</key>
    </entry>
    <entry>
        <key>Access Token Secret</key>
    </entry>
    <entry>
        <key>Languages</key>
        <value>en</value>
    </entry>
    <entry>
        <key>Terms to Filter On</key>
        <value>#{termstofilter}</value>
    </entry>
    <entry>
        <key>IDs to Follow</key>
    </entry>
    <entry>
        <key>Locations to Filter On</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Twitter Airline Sentiment</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                        </processors>
                        <processors>
                            <id>c124a1b2-33e1-3c2d-0000-000000000000</id>
                            <parentGroupId>de734d52-1cbf-3a04-0000-000000000000</parentGroupId>
                            <position>
<x>2336.0</x>
<y>304.0</y>
                            </position>
                            <versionedComponentId>c124a1b2-33e1-3c2d-92c8-31e01dc13dd7</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.3.2.0.0.0-197</version>
                            </bundle>
                            <config>
<bulletinLevel>ERROR</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>coordinates</key>
        <value>
            <name>coordinates</name>
        </value>
    </entry>
    <entry>
        <key>ext_media</key>
        <value>
            <name>ext_media</name>
        </value>
    </entry>
    <entry>
        <key>favourites_count</key>
        <value>
            <name>favourites_count</name>
        </value>
    </entry>
    <entry>
        <key>followers_count</key>
        <value>
            <name>followers_count</name>
        </value>
    </entry>
    <entry>
        <key>friends_count</key>
        <value>
            <name>friends_count</name>
        </value>
    </entry>
    <entry>
        <key>geo</key>
        <value>
            <name>geo</name>
        </value>
    </entry>
    <entry>
        <key>handle</key>
        <value>
            <name>handle</name>
        </value>
    </entry>
    <entry>
        <key>hashtags</key>
        <value>
            <name>hashtags</name>
        </value>
    </entry>
    <entry>
        <key>language</key>
        <value>
            <name>language</name>
        </value>
    </entry>
    <entry>
        <key>listed_count</key>
        <value>
            <name>listed_count</name>
        </value>
    </entry>
    <entry>
        <key>location</key>
        <value>
            <name>location</name>
        </value>
    </entry>
    <entry>
        <key>media_url</key>
        <value>
            <name>media_url</name>
        </value>
    </entry>
    <entry>
        <key>msg</key>
        <value>
            <name>msg</name>
        </value>
    </entry>
    <entry>
        <key>place</key>
        <value>
            <name>place</name>
        </value>
    </entry>
    <entry>
        <key>profile_image_url</key>
        <value>
            <name>profile_image_url</name>
        </value>
    </entry>
    <entry>
        <key>retweet_count</key>
        <value>
            <name>retweet_count</name>
        </value>
    </entry>
    <entry>
        <key>source</key>
        <value>
            <name>source</name>
        </value>
    </entry>
    <entry>
        <key>statuses_count</key>
        <value>
            <name>statuses_count</name>
        </value>
    </entry>
    <entry>
        <key>time_zone</key>
        <value>
            <name>time_zone</name>
        </value>
    </entry>
    <entry>
        <key>tweet_id</key>
        <value>
            <name>tweet_id</name>
        </value>
    </entry>
    <entry>
        <key>unixtime</key>
        <value>
            <name>unixtime</name>
        </value>
    </entry>
    <entry>
        <key>urls</key>
        <value>
            <name>urls</name>
        </value>
    </entry>
    <entry>
        <key>user_description</key>
        <value>
            <name>user_description</name>
        </value>
    </entry>
    <entry>
        <key>user_mentions</key>
        <value>
            <name>user_mentions</name>
        </value>
    </entry>
    <entry>
        <key>user_mentions_name</key>
        <value>
            <name>user_mentions_name</name>
        </value>
    </entry>
    <entry>
        <key>user_name</key>
        <value>
            <name>user_name</name>
        </value>
    </entry>
    <entry>
        <key>user_url</key>
        <value>
            <name>user_url</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>json</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>coordinates</key>
        <value>$.coordinates</value>
    </entry>
    <entry>
        <key>ext_media</key>
        <value>$.extended_entities.media[*].media_url</value>
    </entry>
    <entry>
        <key>favourites_count</key>
        <value>$.user.favourites_count</value>
    </entry>
    <entry>
        <key>followers_count</key>
        <value>$.user.followers_count</value>
    </entry>
    <entry>
        <key>friends_count</key>
        <value>$.user.friends_count</value>
    </entry>
    <entry>
        <key>geo</key>
        <value>$.geo</value>
    </entry>
    <entry>
        <key>handle</key>
        <value>$.user.screen_name</value>
    </entry>
    <entry>
        <key>hashtags</key>
        <value>$.entities.hashtags[*].text</value>
    </entry>
    <entry>
        <key>language</key>
        <value>$.lang</value>
    </entry>
    <entry>
        <key>listed_count</key>
        <value>$.user.listed_count</value>
    </entry>
    <entry>
        <key>location</key>
        <value>$.user.location</value>
    </entry>
    <entry>
        <key>media_url</key>
        <value>$.entities.media[*].media_url</value>
    </entry>
    <entry>
        <key>msg</key>
        <value>$.text</value>
    </entry>
    <entry>
        <key>place</key>
        <value>$.place.full_name</value>
    </entry>
    <entry>
        <key>profile_image_url</key>
        <value>$.user.profile_image_url</value>
    </entry>
    <entry>
        <key>retweet_count</key>
        <value>$.retweet_count</value>
    </entry>
    <entry>
        <key>source</key>
        <value>$.source</value>
    </entry>
    <entry>
        <key>statuses_count</key>
        <value>$.user.statuses_count</value>
    </entry>
    <entry>
        <key>time_zone</key>
        <value>$.user.time_zone</value>
    </entry>
    <entry>
        <key>tweet_id</key>
        <value>$.id</value>
    </entry>
    <entry>
        <key>unixtime</key>
        <value>$.timestamp_ms</value>
    </entry>
    <entry>
        <key>urls</key>
        <value>$.urls[*].url</value>
    </entry>
    <entry>
        <key>user_description</key>
        <value>$.user.description</value>
    </entry>
    <entry>
        <key>user_mentions</key>
        <value>$.user_mentions[*].screen_name</value>
    </entry>
    <entry>
        <key>user_mentions_name</key>
        <value>$.user_mentions[*].name</value>
    </entry>
    <entry>
        <key>user_name</key>
        <value>$.user.name</value>
    </entry>
    <entry>
        <key>user_url</key>
        <value>$.user.url</value>
    </entry>
</properties>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extract Social Attributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Twitter Airline Sentiment</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>062ef960-762e-385f-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1016.0</x>
                        <y>1600.0</y>
                    </position>
                    <versionedComponentId>062ef960-762e-385f-a8ec-0c902507e404</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hive3-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>
    <name>compression-type</name>
</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>
    <name>overwrite</name>
</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
<value>
    <name>permissions-umask</name>
</value>
                            </entry>
                            <entry>
<key>remote-group</key>
<value>
    <name>remote-group</name>
</value>
                            </entry>
                            <entry>
<key>remote-owner</key>
<value>
    <name>remote-owner</name>
</value>
                            </entry>
                            <entry>
<key>putorc-config-resources</key>
<value>
    <name>putorc-config-resources</name>
</value>
                            </entry>
                            <entry>
<key>putorc-stripe-size</key>
<value>
    <name>putorc-stripe-size</name>
</value>
                            </entry>
                            <entry>
<key>putorc-buffer-size</key>
<value>
    <name>putorc-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>putorc-hive-table-name</key>
<value>
    <name>putorc-hive-table-name</name>
</value>
                            </entry>
                            <entry>
<key>putorc-hive-field-names</key>
<value>
    <name>putorc-hive-field-names</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/tmp/sensors</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>true</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
                            </entry>
                            <entry>
<key>remote-group</key>
                            </entry>
                            <entry>
<key>remote-owner</key>
                            </entry>
                            <entry>
<key>putorc-config-resources</key>
                            </entry>
                            <entry>
<key>putorc-stripe-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>putorc-buffer-size</key>
<value>10 KB</value>
                            </entry>
                            <entry>
<key>putorc-hive-table-name</key>
<value>sensors</value>
                            </entry>
                            <entry>
<key>putorc-hive-field-names</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>100 ms</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutORC on S3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.orc.PutORC</type>
                </processors>
                <processors>
                    <id>1ff0c8b3-1a10-3968-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>168.0</x>
                        <y>1368.0</y>
                    </position>
                    <versionedComponentId>1ff0c8b3-1a10-3968-a154-7ad0d98663de</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>all</key>
<value>
    <name>all</name>
</value>
                            </entry>
                            <entry>
<key>slack</key>
<value>
    <name>slack</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>f3729db7-a8f8-3eb6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>all</key>
<value>Select msg, unixtime, friends_count , hashtags , listed_count , tweet_id , user_name , favourites_count , source , placename , media_url , retweet_count , user_mentions_name , geo , urls , countryCode , user_url , place , coordinates , handle , profile_image_url , time_zone , ext_media , statuses_count , followers_count , location , user_mentions , user_description 
From FLOWFILE</value>
                            </entry>
                            <entry>
<key>slack</key>
<value>SELECT * 
FROM FLOWFILE
WHERE CAST(retweet_count AS DOUBLE) &lt;= 0
AND CAST(followers_count AS DOUBLE) &gt; 200
AND user_name &lt;&gt; &apos;Tim Spann&apos;
AND UPPER(msg) LIKE &apos;%FLIGHT%&apos;</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SQL Analysis of Stream</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>all</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>slack</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>25222836-dbfe-3707-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-296.0</x>
                        <y>1824.0</y>
                    </position>
                    <versionedComponentId>25222836-dbfe-3707-a64c-58e498e5fb9e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hive3-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>
    <name>compression-type</name>
</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>
    <name>overwrite</name>
</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
<value>
    <name>permissions-umask</name>
</value>
                            </entry>
                            <entry>
<key>remote-group</key>
<value>
    <name>remote-group</name>
</value>
                            </entry>
                            <entry>
<key>remote-owner</key>
<value>
    <name>remote-owner</name>
</value>
                            </entry>
                            <entry>
<key>putorc-config-resources</key>
<value>
    <name>putorc-config-resources</name>
</value>
                            </entry>
                            <entry>
<key>putorc-stripe-size</key>
<value>
    <name>putorc-stripe-size</name>
</value>
                            </entry>
                            <entry>
<key>putorc-buffer-size</key>
<value>
    <name>putorc-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>putorc-hive-table-name</key>
<value>
    <name>putorc-hive-table-name</name>
</value>
                            </entry>
                            <entry>
<key>putorc-hive-field-names</key>
<value>
    <name>putorc-hive-field-names</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/tmp/cnow3</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>true</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
                            </entry>
                            <entry>
<key>remote-group</key>
                            </entry>
                            <entry>
<key>remote-owner</key>
                            </entry>
                            <entry>
<key>putorc-config-resources</key>
                            </entry>
                            <entry>
<key>putorc-stripe-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>putorc-buffer-size</key>
<value>10 KB</value>
                            </entry>
                            <entry>
<key>putorc-hive-table-name</key>
<value>twitter</value>
                            </entry>
                            <entry>
<key>putorc-hive-field-names</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>100 ms</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutORC on S3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.orc.PutORC</type>
                </processors>
                <processors>
                    <id>43780388-4399-3ce7-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>160.0</x>
                        <y>1168.0</y>
                    </position>
                    <versionedComponentId>43780388-4399-3ce7-97f0-8bb85e0494a6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>placename,countryCode,coordinates,ext_media,favourites_count,followers_count,friends_count,geo,handle,hashtags,listed_count,location,media_url,msg,place,profile_image_url,retweet_count,source,statuses_count,time_zone,tweet_id,unixtime,urls,user_description,user_mentions,user_mentions_name,user_name,user_url,uuid</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>69352514-049e-3876-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1608.0</x>
                        <y>1272.0</y>
                    </position>
                    <versionedComponentId>69352514-049e-3876-ab9f-deb7f725486c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
<value>
    <name>message-key-field</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>#{kafkabrokers}</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>sensors</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>f3729db7-a8f8-3eb6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>acks</key>
<value>1</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>SASL_SSL</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>PLAIN</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>47a42f11-779d-3d38-0000-000000000000</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Publish to Kafka</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                </processors>
                <processors>
                    <id>7048cfd1-be96-39c6-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>2000.0</y>
                    </position>
                    <versionedComponentId>7048cfd1-be96-39c6-8fb8-73fdafb63b10</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>
    <name>Ignore Locality</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/etc/hadoop/conf.cloudera.core_settings/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/cdp-external-tables/twitter3</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS S3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>7a1b144b-70cb-3227-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>1560.0</y>
                    </position>
                    <versionedComponentId>7a1b144b-70cb-3227-91c3-5e2be3fd5abe</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>696c78ee-c2a6-313d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>2 minutes</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>10</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>8e78c62a-441c-3548-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>792.0</x>
                        <y>1448.0</y>
                    </position>
                    <versionedComponentId>8e78c62a-441c-3548-885f-c81655a545bb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-slack-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>webhook-url</key>
<value>
    <name>webhook-url</name>
</value>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>
    <name>webhook-text</name>
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>
    <name>channel</name>
</value>
                            </entry>
                            <entry>
<key>username</key>
<value>
    <name>username</name>
</value>
                            </entry>
                            <entry>
<key>icon-url</key>
<value>
    <name>icon-url</name>
</value>
                            </entry>
                            <entry>
<key>icon-emoji</key>
<value>
    <name>icon-emoji</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>webhook-url</key>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>===== Tweet ==== 

${msg}

From: ${user_name} @ ${handle}

${profile_image_url}
${media_url}

Located at:
${coordinates} / ${geo} / ${location} / ${place}

HashTags:  ${hashtags}

Counts:  ${followers_count} ${friends_count} ${favorites_count} ${retweet_count} ${statuses_count}

Using ${source}
Posted at ${time} ${unixtime} ${time_zone} 

ID: ${tweet_id}
===============</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>#clouderanow</value>
                            </entry>
                            <entry>
<key>username</key>
<value>webhookbot </value>
                            </entry>
                            <entry>
<key>icon-url</key>
                            </entry>
                            <entry>
<key>icon-emoji</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Send Msg to Slack Channel</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.slack.PutSlack</type>
                </processors>
                <processors>
                    <id>cb470ae6-9f03-35e3-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1008.0</x>
                        <y>1368.0</y>
                    </position>
                    <versionedComponentId>cb470ae6-9f03-35e3-a5bb-4f8a8442fa56</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>696c78ee-c2a6-313d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>64 MB</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>2 minutes</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>10</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>d41fe275-2362-35e9-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>168.0</x>
                        <y>1792.0</y>
                    </position>
                    <versionedComponentId>d41fe275-2362-35e9-943c-0deb73888c73</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Compression Format</key>
<value>
    <name>Compression Format</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Update Filename</key>
<value>
    <name>Update Filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Mode</key>
<value>compress</value>
                            </entry>
                            <entry>
<key>Compression Format</key>
<value>gzip</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Update Filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CompressContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.CompressContent</type>
                </processors>
                <processors>
                    <id>de13d0d3-4d8b-32cd-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-776.0</x>
                        <y>1864.0</y>
                    </position>
                    <versionedComponentId>de13d0d3-4d8b-32cd-bda7-55ee69a6e7b0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kudu-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Kudu Masters</key>
<value>
    <name>Kudu Masters</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>
    <name>Skip head line</name>
</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>
    <name>Lowercase Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>
    <name>Handle Schema Drift</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>
    <name>Insert Operation</name>
</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>
    <name>Flush Mode</name>
</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>
    <name>FlowFiles per Batch</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>
    <name>Ignore NULL</name>
</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>
    <name>kudu-operations-timeout-ms</name>
</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>
    <name>kudu-keep-alive-period-timeout-ms</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Kudu Masters</key>
                            </entry>
                            <entry>
<key>Table Name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                            <entry>
<key>Skip head line</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Lowercase Field Names</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Handle Schema Drift</key>
<value>false</value>
                            </entry>
                            <entry>
<key>record-reader</key>
                            </entry>
                            <entry>
<key>Insert Operation</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Flush Mode</key>
<value>AUTO_FLUSH_BACKGROUND</value>
                            </entry>
                            <entry>
<key>FlowFiles per Batch</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Ignore NULL</key>
<value>false</value>
                            </entry>
                            <entry>
<key>kudu-operations-timeout-ms</key>
<value>30000ms</value>
                            </entry>
                            <entry>
<key>kudu-keep-alive-period-timeout-ms</key>
<value>15000ms</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutKudu</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kudu.PutKudu</type>
                </processors>
                <processors>
                    <id>e33d9439-5b0c-334a-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-440.0</x>
                        <y>1304.0</y>
                    </position>
                    <versionedComponentId>e33d9439-5b0c-334a-90d0-5a9583987df4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
<value>
    <name>message-key-field</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>#{kafkabrokers}</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>twitter</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>f3729db7-a8f8-3eb6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>acks</key>
<value>1</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>SASL_SSL</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>PLAIN</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>47a42f11-779d-3d38-0000-000000000000</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Publish to Kafka</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                </processors>
                <processors>
                    <id>e6a1335d-d6e7-3f66-0000-000000000000</id>
                    <parentGroupId>9312a365-e2a1-372e-0000-000000000000</parentGroupId>
                    <position>
                        <x>624.0</x>
                        <y>1800.0</y>
                    </position>
                    <versionedComponentId>e6a1335d-d6e7-3f66-9266-e1b3163f0512</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hive3-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.3.2.0.0.0-197</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-metastore-uri</key>
<value>
    <name>hive3-stream-metastore-uri</name>
</value>
                            </entry>
                            <entry>
<key>hive3-config-resources</key>
<value>
    <name>hive3-config-resources</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-database-name</key>
<value>
    <name>hive3-stream-database-name</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-table-name</key>
<value>
    <name>hive3-stream-table-name</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-part-vals</key>
<value>
    <name>hive3-stream-part-vals</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-call-timeout</key>
<value>
    <name>hive3-stream-call-timeout</name>
</value>
                            </entry>
                            <entry>
<key>hive3-stream-disable-optimizations</key>
<value>
    <name>hive3-stream-disable-optimizations</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>
    <name>kerberos-principal</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
<value>
    <name>kerberos-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>d1ada941-73ad-34dd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>hive3-stream-metastore-uri</key>
<value>#{hivemetastoreuri}</value>
                            </entry>
                            <entry>
<key>hive3-config-resources</key>
<value>#{hiveconfig}</value>
                            </entry>
                            <entry>
<key>hive3-stream-database-name</key>
<value>default</value>
                            </entry>
                            <entry>
<key>hive3-stream-table-name</key>
<value>twitterhive</value>
                            </entry>
                            <entry>
<key>hive3-stream-part-vals</key>
                            </entry>
                            <entry>
<key>hive3-stream-call-timeout</key>
<value>0</value>
                            </entry>
                            <entry>
<key>hive3-stream-disable-optimizations</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-principal</key>
<value>tspann</value>
                            </entry>
                            <entry>
<key>kerberos-password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHive3Streaming</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.hive.PutHive3Streaming</type>
                </processors>
            </contents>
            <name>Tweets</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/23/2020 19:47:29 UTC</timestamp>
</template>